<div class="techs-container">
  <!-- <h2 class="techs-h2">
    Filter
  </h2> -->
  <form novalidate class="permutations-chooser" >
    <div class="permutations-chooser_section">
      <h3>White Face</h3>
      <p>
        <span>Layer</span>
        <input type="radio" ng-model="$ctrl.criterias.whiteFace.layer" value="U"><label>U</label></input>
        <input type="radio" ng-model="$ctrl.criterias.whiteFace.layer" value="D"><label>D</label></input>
        <input type="radio" ng-model="$ctrl.criterias.whiteFace.layer" value="all"><label>All</label></input>
      </p>
      <p>
        <span>Orientation</span>
        <input type="radio" ng-model="$ctrl.criterias.whiteFace.orientation" value="U"><label>U</label></input>
        <input type="radio" ng-model="$ctrl.criterias.whiteFace.orientation" value="F"><label>F</label></input>
        <input type="radio" ng-model="$ctrl.criterias.whiteFace.orientation" value="R"><label>R</label></input>
        <input type="radio" ng-model="$ctrl.criterias.whiteFace.orientation" value="D"><label>D</label></input>
        <input type="radio" ng-model="$ctrl.criterias.whiteFace.orientation" value="D"><label>D</label></input>
        <input type="radio" ng-model="$ctrl.criterias.whiteFace.orientation" value="all"><label>All</label></input>
      </p>
    </div>
    <div class="permutations-chooser_section">
      <h3>Edge</h3>
      <p>
        <span>Layer</span>
        <input type="radio" ng-model="$ctrl.criterias.edge.layer" value="U"><label>U</label></input>
        <input type="radio" ng-model="$ctrl.criterias.edge.layer" value="E"><label>E</label></input>
        <input type="radio" ng-model="$ctrl.criterias.edge.layer" value="all"><label>All</label></input>
      </p>
      <p>
        <span>Position</span>
        <input type="radio" ng-model="$ctrl.criterias.edge.position" value="L"><label>L</label></input>
        <input type="radio" ng-model="$ctrl.criterias.edge.position" value="F"><label>F</label></input>
        <input type="radio" ng-model="$ctrl.criterias.edge.position" value="R"><label>R</label></input>
        <input type="radio" ng-model="$ctrl.criterias.edge.position" value="B"><label>B</label></input>
        <input type="radio" ng-model="$ctrl.criterias.edge.position" value=""><label>none</label></input>
        <input type="radio" ng-model="$ctrl.criterias.edge.position" value="all"><label>All</label></input>
      </p>
    </div>
  </form>
  <hr>
  <div class="techs">
    <ldez-permutation ng-repeat="permutation in $ctrl.permutations | filter:$ctrl.byCriteria" permutation="permutation"></ldez-permutation>
  </div>
</div>
